// Amaze UI Touch: Carousel
// =============================================================================


// Output
// -----------------------------------------------------------------------------
.#{$carousel-prefix} {
  position: relative;

  ul,
  ol {
    list-style: none;
    padding: 0;
  }
}

.#{$carousel-prefix}-slides {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin: 0;

  > li {
    position: relative;
    display: none;
    transition: transform $carousel-duration ease-in-out;
    backface-visibility: hidden;
    perspective: 1000px;

    > img,
    > a > img {
      display: block;
      width: 100%;
      height: auto;
      line-height: 1;
    }

    &.next,
    &.active.right {
      left: 0;
      transform: translate3d(100%, 0, 0);
    }
    &.prev,
    &.active.left {
      left: 0;
      transform: translate3d(-100%, 0, 0);
    }
    &.next.left,
    &.prev.right,
    &.active {
      left: 0;
      transform: translate3d(0, 0, 0);
    }
  }

  > .active,
  > .next,
  > .prev {
    display: block;
  }

  > .active {
    left: 0;
  }

  > .next,
  > .prev {
    position: absolute;
    top: 0;
    width: 100%;
  }
}

// carousel prev/next controls
// -----------------------------------------------------------------------------
.#{$carousel-prefix}-control {
}

%carousel-control-item {
  position: absolute;
  top: 50%;
  transform: translate3d(0, -50%, 0);
  border-radius: 50%;
  color: rgba($global-white, .7);
  backdrop-filter: blur(10px);
  cursor: pointer;
}

.#{$carousel-prefix}-control-prev {
  left: 10px;

  @extend %carousel-control-item;
}

.#{$carousel-prefix}-control-next {
  right: 10px;

  @extend %carousel-control-item;
}

// carousel indicators
// -----------------------------------------------------------------------------
.#{$carousel-prefix}-indicators {
  position: absolute;
  bottom: $global-spacing;
  left: 50%;
  display: flex;
  justify-content: center;
  margin: 0;
  transform: translate3d(-50%, 0, 0);

  li {
    display: block;
    @include square(8px);
    overflow: hidden;
    text-indent: -999px;
    border: 1px solid $carousel-indicator-border-color;
    border-radius: 10px;
    cursor: pointer;

    & + li {
      margin-left: 8px;
    }
  }

  .active {
    background: $carousel-indicator-active-bg;
  }
}

// carousel thumbnails
// -----------------------------------------------------------------------------
.#{$carousel-prefix}-thumbs {
  display: flex;
  margin: 5px 0 0;

  li {
    flex: 1;
    opacity: 0.75;
    cursor: pointer;
    transition: opacity $carousel-duration;

    + li {
      margin-left: 2px;
    }
  }

  .#{map_get($am-states, active)} {
    opacity: 1;
  }
}

// Caption
// -----------------------------------------------------------------------------
.#{$carousel-prefix}-caption {
  position: absolute;
  bottom: 20px;
  width: 100%;
  padding-top: $global-spacing;
  padding-bottom: $global-spacing;
  color: $carousel-caption-color;
  text-align: center;
  text-shadow: $carousel-text-shadow;
}
