// BNorth UI: check radio
// =============================================================================

@mixin checkradio-style(
  $color: $checkradio-color,
  $color-inavtive: $checkradio-color-inavtive,
  $background: $checkradio-background,
  $input-background: $checkradio-input-background,
  $style: $checkradio-style
) {
  color: $color;
  background: $background;

  .#{$checkradio-prefix}-on {
    color: $color;
    background: $input-background;
  }

  .#{$checkradio-prefix}-on .#{$checkradio-prefix}-default{
    border: 1px solid $color;
    border-radius: $global-rounded;
  }

  .#{$checkradio-prefix}-off {
    color: $input-background;
    background: $input-background;
  }
  .#{$checkradio-prefix}-off .#{$checkradio-prefix}-default{
    border: 1px solid $color-inavtive;
    border-radius: $global-rounded;
  }
}
// Output
// -----------------------------------------------------------------------------
.#{$checkradio-prefix} {
  position: relative;
  display: inline-flex;
  align-items: center;
  overflow: hidden;
  vertical-align: middle;
  align-self: center;
  outline: none;
  cursor: pointer;
  user-select: none;
  touch-action: manipulation;

  @include checkradio-style();

  input {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
  }

  &.#{map-get($am-states, disabled)} {
    opacity: $checkradio-opacity-disabled;
    cursor: not-allowed;
    pointer-events: none;
  }

  .#{$list-prefix} & {
    margin-bottom: 0;
  }
}

.#{$checkradio-prefix}-content {
  position: relative;
  display: inline-block;
  color: inherit;
  font-size: inherit;
}

.#{$checkradio-prefix}-on {
  display: none;
}
.#{$checkradio-prefix} input:checked + .#{$checkradio-prefix}-content .#{$checkradio-prefix}-on {
  display: block;
}

.#{$checkradio-prefix}-off {
  display: block;
}
.#{$checkradio-prefix} input:checked + .#{$checkradio-prefix}-content .#{$checkradio-prefix}-off {
  display: none;
}


// Modifiers
// -----------------------------------------------------------------------------
@each $color-key, $color in $am-colors {
  .#{$checkradio-prefix}-#{$color-key} {
    @include checkradio-style($color);
  }

  /*.#{$checkradio-prefix}-#{$color-key} .#{$checkradio-prefix}-on, .#{$checkradio-prefix}-#{$color-key} .#{$checkradio-prefix}-on .#{$checkradio-prefix}-default{
    border-color: $color;
    color: $color;
  }

  .#{$checkradio-prefix}-#{$color-key} .#{$checkradio-prefix}-off, .#{$checkradio-prefix}-#{$color-key} .#{$checkradio-prefix}-off .#{$checkradio-prefix}-default{
    border-color: $color;
  }*/
}

@each $size-key, $size-size in $am-sizes {
  .#{$checkradio-prefix}-#{$size-key} {
    font-size: $size-size;
  }
}