// BNorth UI: Pager
// =============================================================================

.#{$pager-prefix} {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.#{$pager-prefix}-inset {
  margin-left: $global-spacing;
  margin-right: $global-spacing;
}

.#{$pager-prefix}-panel {
  position: absolute;
  @include square(100%);
  
  padding: $global-spacing;

  &#{&}-no-padded {
    padding: 0;
  }
}

.#{$pager-mode-single} {
  
  & .#{$pager-prefix}-panel {
    
  }
}


