// Amaze UI Touch: Tabs
// =============================================================================


// Output
// -----------------------------------------------------------------------------
//able99
.#{$tabs-prefix} {
  background: $tabs-background;
  @extend %card-nested-component;
}

.#{$tabs-prefix}-nav {
  margin-bottom: 0;

  .#{$button-prefix} {
    @extend %text-truncate-old;
  }
}

// Mofidier: inset
// -----------------------------------------------------------------------------
.#{$tabs-prefix}-inset {
  margin-left: $global-spacing;
  margin-right: $global-spacing;
}
