// Amaze UI Touch: TabBar
// =============================================================================


// Mixins
// -----------------------------------------------------------------------------

@mixin tabbar-style(
  $background: $tabbar-background,
  $color: $tabbar-color,
  $active-color: $tabbar-color-select
) {
  @if $color == auto {
    @if $active-color == primary {
      $color: islight($background);
    } @else {
      $color: islight($background,$global-lightbg-disable, $global-darkbg-disable);
    }
  } @else {
    $color: $color;
  }
  @if $active-color == auto {
    $active-color: islight($background);
  } @else if $active-color == primary {
    $active-color: $global-primary;
  } @else {
    $active-color: $tabbar-color-select;
  }

  background: $background;

  &,
  & a {
    color: $color;
  }

  > .#{map_get($am-states, active)} {
    // background: smartscale($background, 7%);
    &,
    & a {
      color: $active-color;
    }
  }
  
  // Retina border top color
  //@include retina-line-color(before, $global-border);
}


// Output
// -----------------------------------------------------------------------------

.#{$tabbar-prefix} {
  display: flex;
  width: 100%;
  height: $tabbar-height;
  padding: $tabbar-padding-v $tabbar-padding-h;

  @include tabbar-style();
  @extend %retina-line-top-before;
}

.#{$tabbar-prefix}-item {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;

  .#{$icon-prefix} {
    position: relative;
  }

  .#{$badge-prefix} {
    position: absolute;
    left: 100%;
    top: -2px;
    margin-left: -10px;
    padding: 2px 5px;
    font-size: rem-calc(10);
    min-width: 0;
  }

  &.#{map_get($am-states, active)} {
    cursor: default;
    pointer-events: none;
  }
}

.#{$tabbar-prefix}-label {
  position: relative;
  display: block;
  text-align: center;
  font-size: $font-size-sm;

  @extend %text-truncate;

  .#{$icon-prefix} ~ & {
    //font-size: rem-calc(10);
  }
}


// Modifiers
// -----------------------------------------------------------------------------
@each $color-key, $color in $am-colors {
  .#{$tabbar-prefix}-#{$color-key} {
    @include tabbar-style($color);
  }
}
