//=======================
// float
//=======================
.#{$namespace}cf {
  @extend %clearfix;
}

@each $s, $float in (
  l: left,
  r: right,
  n:none) {
  .#{$namespace}f#{$s} {
    float: #{$float};
  }
}

//=======================
// margin padding
//=======================
@mixin makeSpacings($dimension: null) {
  @each $space-key, $space-value in $am-spaces {
    $padding-selector: 'padding';
    $margin-selector: 'margin';
    $dash: '';

    @if $dimension {
      $dash: '-' + $dimension;
    }

    @if $space-key != 'default' {
      $dash: $dash + '-' + $space-key;
    }

    $padding-selector: $padding-selector + $dash;
    $margin-selector: $margin-selector + $dash;

    // horizontal spacing
    @if $dimension == h {
      .#{$namespace}#{$padding-selector} {
        padding-left: $space-value !important;
        padding-right: $space-value !important;
      }

      .#{$namespace}#{$margin-selector} {
        margin-left: $space-value !important;
        margin-right: $space-value !important;
      }
      // vertical spacing
    } @else if $dimension == v {
      .#{$namespace}#{$padding-selector} {
        padding-top: $space-value !important;
        padding-bottom: $space-value !important;
      }

      .#{$namespace}#{$margin-selector} {
        margin-top: $space-value !important;
        margin-bottom: $space-value !important;
      }
    } @else {
      $paddingProperty: 'padding';
      $marginProperty: 'margin';

      @if $dimension {
        $paddingProperty: $paddingProperty + '-' + $dimension;
        $marginProperty: $marginProperty + '-' + $dimension;
      }

      .#{$namespace}#{$padding-selector} {
        #{$paddingProperty}: $space-value !important;
      }

      .#{$namespace}#{$margin-selector} {
        #{$marginProperty}: $space-value !important;
      }
    }
  }
}
@each $dimension in $am-dimensions {
  @include makeSpacings($dimension);
}

//=======================
// border
//=======================
@mixin makeBorderDimension($dimension: null) {
  //width
  @each $key, $val in $am-border-widths {
    $selector: 'border-width';
    @if $dimension {
      $selector: $selector + "-" + $dimension;
    }
    @if $key != 'default' {
      $selector: $selector + '-' + $key;
    }

    @if $dimension == null {
      .#{$namespace}#{$selector} {
        border-width: $val !important;
      }
    } @else if $dimension == h {
      .#{$namespace}#{$selector} {
        border-left-width: $val !important;
        border-right-width: $val !important;
      }
    } @else if $dimension == v {
      .#{$namespace}#{$selector} {
        border-top-width: $val !important;
        border-bottom-width: $val !important;
      }
    } @else {
      .#{$namespace}#{$selector} {
        border-#{$dimension}-width: $val !important;
      }
    }
  }

  //style
  @each $key, $val in $am-border-styles {
    $selector: 'border-style';
    @if $dimension {
      $selector: $selector + "-" + $dimension;
    }
    @if $key != 'default' {
      $selector: $selector + '-' + $key;
    }

    @if $dimension == null {
      .#{$namespace}#{$selector} {
        border-style: $val !important;
      }
    } @else if $dimension == h {
      .#{$namespace}#{$selector} {
        border-left-style: $val !important;
        border-right-style: $val !important;
      }
    } @else if $dimension == v {
      .#{$namespace}#{$selector} {
        border-top-style: $val !important;
        border-bottom-style: $val !important;
      }
    } @else {
      .#{$namespace}#{$selector} {
        border-#{$dimension}-style: $val !important;
      }
    }
  }

  //color
  @each $key, $val in $am-colors {
    $selector: 'border-color';
    @if $dimension {
      $selector: $selector + "-" + $dimension;
    }
    @if $key != 'default' {
      $selector: $selector + '-' + $key;
    }

    @if $dimension == null {
      .#{$namespace}#{$selector} {
        border-color: $val !important;
      }
    } @else if $dimension == h {
      .#{$namespace}#{$selector} {
        border-left-color: $val !important;
        border-right-color: $val !important;
      }
    } @else if $dimension == v {
      .#{$namespace}#{$selector} {
        border-top-color: $val !important;
        border-bottom-color: $val !important;
      }
    } @else {
      .#{$namespace}#{$selector} {
        border-#{$dimension}-color: $val !important;
      }
    }
  }

  //default border
  @each $key, $val in $am-colors {
    $selector: 'border';
    @if $dimension {
      $selector: $selector + "-" + $dimension;
    }
    @if $key != 'default' {
      $selector: $selector + '-' + $key;
    }

    @if $dimension == null {
      .#{$namespace}#{$selector} {
        border: 1px solid $val;
      }
    } @else if $dimension == h {
      .#{$namespace}#{$selector} {
        border-left: 1px solid $val;
        border-right: 1px solid $val;
      }
    } @else if $dimension == v {
      .#{$namespace}#{$selector} {
        border-top: 1px solid $val;
        border-bottom: 1px solid $val;
      }
    } @else {
      .#{$namespace}#{$selector} {
        border-#{$dimension}: 1px solid $val;
      }
    }
  }

  //none
  $selector: 'border-none';
  @if $dimension {
    $selector: $selector + "-" + $dimension;
  }
  
  @if $dimension == null {
    .#{$namespace}#{$selector} {
      border: none !important;
    }
  } @else if $dimension == h {
    .#{$namespace}#{$selector} {
      border-left: none !important;
      border-right: none !important;
    }
  } @else if $dimension == v {
    .#{$namespace}#{$selector} {
      border-top: none !important;
      border-bottom: none !important;
    }
  } @else {
    .#{$namespace}#{$selector} {
      border-#{$dimension}: none !important;
    }
  }
}
@each $dimension in $am-dimensions {
  @include makeBorderDimension($dimension);
}

@mixin makeBorderCorner($corner: null) {
  @each $key, $val in $am-radius {
    $selector: 'border-radius';
    @if $corner {
      $selector: $selector + "-" + $corner;
    }
    @if $key != 'default' {
      $selector: $selector + '-' + $key;
    }

    @if $corner == null {
      .#{$namespace}#{$selector} {
        border-radius: $val !important;
      }
    } @else if $corner == left {
      .#{$namespace}#{$selector} {
        border-top-left-radius: $val !important;
        border-bottom-left-radius: $val !important;
      }
    } @else if $corner == right {
      .#{$namespace}#{$selector} {
        border-top-right-radius: $val !important;
        border-bottom-right-radius: $val !important;
      }
    } @else if $corner == top {
      .#{$namespace}#{$selector} {
        border-top-left-radius: $val !important;
        border-top-right-radius: $val !important;
      }
    } @else if $corner == bottom {
      .#{$namespace}#{$selector} {
        border-bottom-left-radius: $val !important;
        border-bottom-right-radius: $val !important;
      }
    } @else {
      .#{$namespace}#{$selector} {
        border-#{$corner}-radius: $val !important;
      }
    }
  }
}
@each $corner in $am-corners {
  @include makeBorderCorner($corner);
}

//=======================
// text

// Text sizes
@each $key, $size in $am-sizes {
  .#{$namespace}text-size-#{$key} {
    font-size: $size !important;
  }
}

// Text weights
@each $key, $weight in $am-text-weights {
  .#{$namespace}text-weight-#{$key} {
    font-weight: $weight !important;
  }
}
// Text style
@each $key in $am-text-styles {
  .#{$namespace}text-style-#{$key} {
    font-style: $key !important;
  }
}
// Text decorations
@each $key in $am-text-decorations {
  .#{$namespace}text-decoration-#{$key} {
    text-decoration: $key !important;
  }
}

// Text truncate
.#{$namespace}text-truncate {
  @extend %text-truncate;
}
.#{$namespace}text-truncate2 {
  @extend %text-truncate2;
}
.#{$namespace}text-truncate3 {
  @extend %text-truncate3;
}
.#{$namespace}text-truncate4 {
  @extend %text-truncate4;
}

// Text Alignment
@each $align in (left, right, center, justify) {
  .#{$namespace}text-align-#{$align} {
    text-align: $align !important;
  }
}

// Text colors
@each $key, $color in $am-colors {
  .#{$namespace}text-color-#{$key} {
    color: $color !important;
  }
}

//=======================
// background

@each $key, $color in $am-colors {
  @if $key != none {
    .#{$namespace}bg-color-#{$key} {
      background-color: $color !important;
    }
  }
}
.#{$namespace}background-none {
  background: none !important;
}


//=======================
// visibility

.#{$namespace}visibility-show {
  visibility: visible;
}
.#{$namespace}visibility-hide {
  visibility: hidden;
}

//=======================
// layout size
@for $i from 1 through $layout-size-max-length { 
  @if ($i <= 10) OR ($i % 10 == 0) {
    .#{$namespace}layout-size-square-#{$i} { 
      @include square(#{$i}px);
    } 
    .#{$namespace}layout-size-width-auto-#{$i} { 
      @include size(#{$i}px, auto);
    } 
    .#{$namespace}layout-size-height-auto-#{$i} { 
      @include size(auto, #{$i}px);
    } 
    .#{$namespace}layout-size-min-width-#{$i} { 
      min-width: #{$i}px;
    }
    .#{$namespace}layout-size-min-height-#{$i} { 
      min-height: #{$i}px;
    }
  } 
} 

@for $i from 0 through $layout-size-percent { 
  @if ($i % 2 == 0) {
    .#{$namespace}layout-size-width-auto-#{$i}p { 
      width:#{$i}#{%};
    } 
    .#{$namespace}layout-size-height-auto-#{$i}p { 
      height:#{$i}#{%};
    } 
  }
} 

@for $i from 1 through $layout-size-rem { 
  .#{$namespace}layout-size-square-#{$i}rem { 
    width:#{($i/10)}rem;
    height:#{($i/10)}rem;
  } 
  .#{$namespace}layout-size-width-auto-#{$i} { 
    @include size(#{($i/10)}rem, auto);
  } 
  .#{$namespace}layout-size-height-auto-#{$i} { 
    @include size(auto, #{($i/10)}rem);
  } 
} 

.#{$namespace}layout-size-full { 
  @include square(100%);
  display: inline-block;
}

//==========================================================
//z index
@each $key, $val in $am-z-index {
  .#{$namespace}layout-zindex-#{$key} {
    z-index: $val !important;
  }
}

//==========================================================
// old 

.#{$namespace}align-v {
  display: flex;
  align-items: center;
  justify-content: space-between;

  $align-values: (
    'top': flex-start,
    'center': center,
    'bottom': flex-end,
  );

  @each $orient in (top, center, bottom) {
    .#{$namespace}align-#{$orient} {
      align-self: map-get($align-values, $orient);
    }
  }
}



//==========================================================
// layout flex

// layout
@each $direction-key, $direction in $layout-map-direction {
  @each $justify-key, $justify in $layout-map-justify {
    @each $align-key, $align in $layout-map-align {
      $selector: #{$namespace}layout;
      @if $direction-key != null {
        $selector: $selector + "-" + $direction-key;
      }
      @if $justify-key != null {
        $selector: $selector + "-" + $justify-key;
      }
      @if $align-key != null {
        $selector: $selector + "-" + $align-key;
      }

      .#{$selector}{
        display:         flex;
        flex-direction:  $direction;
        justify-content: $justify;
        align-items:     $align;
      }
    }
  }
}

// wrap
@each $wrap in $layout-warp {
  .#{$namespace}layout-wrap {
    flex-wrap: $wrap;
  }
}

// sub align
@each $key, $align in $layout-map-align {
  @if $key != null {
    .#{$namespace}layout-sub-align-#{$key} {
      align-self: $align;
    }
  }
}

// sub order
@for $i from 0 through $layout-sub-order-length { 
  .#{$namespace}layout-sub-order { 
    order: $i;
  } 
} 

// sub flex
@each $val in $layout-sub-flex-length { 
  .#{$namespace}layout-sub-flex-grow-#{$val} { 
    flex-grow: $val
  } 
  .#{$namespace}layout-sub-flex-shrink-#{$val} { 
    flex-shrink: $val;
  } 
} 
.#{$namespace}layout-sub-flex-grow { 
  flex: 1 0 auto;
} 
.#{$namespace}layout-sub-flex-shrink { 
  flex: 0 1 auto;
} 
.#{$namespace}layout-sub-flex-auto { 
  flex: auto;
} 
.#{$namespace}layout-sub-flex-none { 
  flex: none;
} 
