// Amaze UI Touch: View
// =============================================================================


// Output
// -----------------------------------------------------------------------------

// View Container
.#{$views-prefix} {
  position: relative;
  flex: 1 1 0;
  @include square(100%);
  overflow: hidden;
}

// View
.#{$view-prefix} {
  visibility:visible;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 0;
  @include square(100%);
  overflow: hidden;
  background: $body-background;

  backface-visibility: hidden;
  // transform: translateZ(0);

  & > .#{$container-prefix} {
    flex: 1 1 0;
  }
}

.#{$view-prefix}-child {
  position: relative;
}
.#{$view-prefix}-blur {
  visibility:hidden;
}

// Animations
// -----------------------------------------------------------------------------

// sfl: Show From Left
@keyframes amt-view-sfl-enter {
  from {
    transform: translate3d(-100%, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes amt-view-sfl-leave {
  /*from {
    //transform: translate3d(0, 0, 0);
  }*/
  to {
    //opacity: .75;
    //transform: translate3d(25%, 0, 0);
  }
}


// Show From Right
@keyframes amt-view-sfr-enter {
  from {
    transform: translate3d(100%, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes amt-view-sfr-leave {
  to {
    //opacity: .75;
    //transform: translate3d(-25%, 0, 0);
  }
}

// able99
// sfb: Show From bottom
@keyframes amt-view-sfb-enter {
  from {
    transform: translate3d(0, 100%, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes amt-view-sfb-leave {
  /*from {
    
  }*/
  to {
    
  }
}

// REVEAL
// -----------------------------------------------------------------------------

// Reveal From Feft
@keyframes amt-view-rfl-enter {
  from {
    //opacity: .75;
    //transform: translate3d(75%, 0, 0);
  }
  to {
    //opacity: 1;
    //transform: translate3d(0, 0, 0);
  }
}

@keyframes amt-view-rfl-leave {
  from {
    //opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  to {
    //opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
}

// Reveal From Right
@keyframes amt-view-rfr-enter {
  from {
    //opacity: .75;
    //transform: translate3d(-25%, 0, 0);
  }
  to {
    //opacity: 1;
    //transform: translate3d(0, 0, 0);
  }
}

@keyframes amt-view-rfr-leave {
  to {
    //opacity: 0.75;
    transform: translate3d(100%, 0, 0);
  }
}

//able99
// Reveal From Bottom
@keyframes amt-view-rfb-enter {
  
}

@keyframes amt-view-rfb-leave {
  to {
    transform: translate3d(0, 100%, 0);
  }
}


// Transition: Show
// sfl: show-from-left
// sfr: show-from-right
// -----------------------------------------------------------------------------

%view-transition-common {
  animation-duration: $view-transition-duration;
  animation-timing-function: $view-transition-timing-function;
  animation-fill-mode: forwards;
}

.#{$view-prefix}-transition-sfr-enter-active,
.#{$view-prefix}-transition-sfl-enter-active,
//able99
.#{$view-prefix}-transition-sfb-enter-active {
  pointer-events: none;
  z-index: $z-index-view-top;
}

.#{$view-prefix}-transition-sfr-leave,
.#{$view-prefix}-transition-sfl-leave,
//able99
.#{$view-prefix}-transition-sfb-leave {
  pointer-events: none;
  z-index: $z-index-view-bottom;
}

// animation common
.#{$view-prefix}-transition-sfl-enter-active,
.#{$view-prefix}-transition-sfl-leave,
.#{$view-prefix}-transition-sfr-enter-active,
.#{$view-prefix}-transition-sfr-leave,
.#{$view-prefix}-transition-sfb-enter-active,
.#{$view-prefix}-transition-sfb-leave  {
  @extend %view-transition-common;
}

.#{$view-prefix}-transition-sfr-enter-active {
  animation-name: amt-view-sfr-enter;
}

.#{$view-prefix}-transition-sfl-enter-active {
  animation-name: amt-view-sfl-enter;
}

//able99
.#{$view-prefix}-transition-sfb-enter-active {
  animation-name: amt-view-sfb-enter;
}

.#{$view-prefix}-transition-sfr-leave {
  animation-name: amt-view-sfr-leave;
}

.#{$view-prefix}-transition-sfl-leave {
  animation-name: amt-view-sfl-leave;
}

//able99
.#{$view-prefix}-transition-sfb-leave {
  animation-name: amt-view-sfb-leave;
}


// Transition: Reveal
// rfr: reveal from right
// rfl: reveal from left
// -----------------------------------------------------------------------------

.#{$view-prefix}-transition-rfr-enter-active,
.#{$view-prefix}-transition-rfl-enter-active,
//able99
.#{$view-prefix}-transition-rfb-enter-active {
  pointer-events: none;
  z-index: $z-index-view-bottom;
}

.#{$view-prefix}-transition-rfr-leave,
.#{$view-prefix}-transition-rfl-leave,
//able99
.#{$view-prefix}-transition-rfb-leave {
  pointer-events: none;
  z-index: $z-index-view-top;
}

// animation common
.#{$view-prefix}-transition-rfl-enter-active,
.#{$view-prefix}-transition-rfl-leave,
.#{$view-prefix}-transition-rfr-enter-active,
.#{$view-prefix}-transition-rfr-leave,
//able99
.#{$view-prefix}-transition-rfb-enter-active,
.#{$view-prefix}-transition-rfb-leave {
  @extend %view-transition-common;
}

.#{$view-prefix}-transition-rfr-enter-active {
  animation-name: amt-view-rfr-enter;
}

.#{$view-prefix}-transition-rfr-leave {
  animation-name: amt-view-rfr-leave;
}

.#{$view-prefix}-transition-rfl-enter-active {
  animation-name: amt-view-rfl-enter;
}

.#{$view-prefix}-transition-rfl-leave {
  animation-name: amt-view-rfl-leave;
}

//able99
.#{$view-prefix}-transition-rfb-enter-active {
  animation-name: amt-view-rfb-enter;
}

.#{$view-prefix}-transition-rfb-leave {
  animation-name: amt-view-rfb-leave;
}
