#project
/.vscode
/bnorth.code-workspace

# dependencies
node_modules/

# mid
packages/bnorth-demo/platforms/
packages/bnorth-demo/plugins/
packages/doc/public/

# production

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

