.display-inline {
  display: inline;
}

.display-inlineblock {
  display: inline-block;
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}

.visibility-show {
  visibility: visible;
}

.visibility-hide {
  visibility: hidden;
}

.opacity-0 {
  opacity: 0.00;
}

.opacity-10 {
  opacity: 0.10;
}

.opacity-20 {
  opacity: 0.20;
}

.opacity-30 {
  opacity: 0.30;
}

.opacity-40 {
  opacity: 0.40;
}

.opacity-50 {
  opacity: 0.50;
}

.opacity-60 {
  opacity: 0.60;
}

.opacity-70 {
  opacity: 0.70;
}

.opacity-80 {
  opacity: 0.80;
}

.opacity-90 {
  opacity: 0.90;
}

.opacity-100 {
  opacity: 1.00;
}

.overflow-a-hidden {
  overflow: hidden;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.overflow-y-hidden {
  overflow-y: hidden;
}

.overflow-a-scroll {
  overflow: scroll;
}

.overflow-x-scroll {
  overflow-x: scroll;
}

.overflow-y-scroll {
  overflow-y: scroll;
}

.overflow-a-auto {
  overflow: auto;
}

.overflow-x-auto {
  overflow-x: auto;
}

.overflow-y-auto {
  overflow-y: auto;
}

.overflow-a-inherit {
  overflow: inherit;
}

.overflow-x-inherit {
  overflow-x: inherit;
}

.overflow-y-inherit {
  overflow-y: inherit;
}

.overflow-a-visible {
  overflow: visible;
}

.overflow-x-visible {
  overflow-x: visible;
}

.overflow-y-visible {
  overflow-y: visible;
}

.scrollable-a {
  max-width: 100%;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.scrollable-x {
  max-width: 100%;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.scrollable-y {
  max-height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.pointer-events-none {
  pointer-events: none;
}

.pointer-events-all {
  pointer-events: all;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.float-none {
  float: none;
}

.clear:before {
  content: ' ';
  display: table;
}

.clear:after {
  content: ' ';
  display: table;
  clear: both;
}