.position- {
  position: initial;
}

.position-initial {
  position: initial;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.position-fixed {
  position: fixed;
}

.offset-a-start {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.offset-h-start {
  left: 0;
  right: 0;
}

.offset-v-start {
  top: 0;
  bottom: 0;
}

.offset-left-start {
  left: 0;
}

.offset-right-start {
  right: 0;
}

.offset-top-start {
  top: 0;
}

.offset-bottom-start {
  bottom: 0;
}

.offset-left-center {
  left: 50%;
}

.offset-right-center {
  right: 50%;
}

.offset-top-center {
  top: 50%;
}

.offset-bottom-center {
  bottom: 50%;
}

.offset-left-end {
  left: 100%;
}

.offset-right-end {
  right: 100%;
}

.offset-top-end {
  top: 100%;
}

.offset-bottom-end {
  bottom: 100%;
}

.translate-center-a {
  transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  -oz-transform: translate3d(-50%, -50%, 0);
}

.translate-center-x {
  transform: translate3d(-50%, 0, 0);
  -moz-transform: translate3d(-50%, 0, 0);
  -ms-transform: translate3d(-50%, 0, 0);
  -oz-transform: translate3d(-50%, 0, 0);
}

.translate-center-y {
  transform: translate3d(0, -50%, 0);
  -moz-transform: translate3d(0, -50%, 0);
  -ms-transform: translate3d(0, -50%, 0);
  -oz-transform: translate3d(0, -50%, 0);
}