.margin-a- {
  margin: 10px;
}

.margin-a-xxs {
  margin: 4px;
}

.margin-a-xs {
  margin: 6px;
}

.margin-a-sm {
  margin: 8px;
}

.margin-a-lg {
  margin: 12px;
}

.margin-a-xl {
  margin: 14px;
}

.margin-a-xxl {
  margin: 16px;
}

.margin-a-0 {
  margin: 0px;
}

.margin-a-1 {
  margin: 1px;
}

.margin-a-2 {
  margin: 2px;
}

.margin-a-2x {
  margin: 20px;
}

.margin-a-3x {
  margin: 30px;
}

.margin-a-4x {
  margin: 40px;
}

.margin-h- {
  margin-left: 10px;
  margin-right: 10px;
}

.margin-h-xxs {
  margin-left: 4px;
  margin-right: 4px;
}

.margin-h-xs {
  margin-left: 6px;
  margin-right: 6px;
}

.margin-h-sm {
  margin-left: 8px;
  margin-right: 8px;
}

.margin-h-lg {
  margin-left: 12px;
  margin-right: 12px;
}

.margin-h-xl {
  margin-left: 14px;
  margin-right: 14px;
}

.margin-h-xxl {
  margin-left: 16px;
  margin-right: 16px;
}

.margin-h-0 {
  margin-left: 0px;
  margin-right: 0px;
}

.margin-h-1 {
  margin-left: 1px;
  margin-right: 1px;
}

.margin-h-2 {
  margin-left: 2px;
  margin-right: 2px;
}

.margin-h-2x {
  margin-left: 20px;
  margin-right: 20px;
}

.margin-h-3x {
  margin-left: 30px;
  margin-right: 30px;
}

.margin-h-4x {
  margin-left: 40px;
  margin-right: 40px;
}

.margin-v- {
  margin-top: 10px;
  margin-bottom: 10px;
}

.margin-v-xxs {
  margin-top: 4px;
  margin-bottom: 4px;
}

.margin-v-xs {
  margin-top: 6px;
  margin-bottom: 6px;
}

.margin-v-sm {
  margin-top: 8px;
  margin-bottom: 8px;
}

.margin-v-lg {
  margin-top: 12px;
  margin-bottom: 12px;
}

.margin-v-xl {
  margin-top: 14px;
  margin-bottom: 14px;
}

.margin-v-xxl {
  margin-top: 16px;
  margin-bottom: 16px;
}

.margin-v-0 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.margin-v-1 {
  margin-top: 1px;
  margin-bottom: 1px;
}

.margin-v-2 {
  margin-top: 2px;
  margin-bottom: 2px;
}

.margin-v-2x {
  margin-top: 20px;
  margin-bottom: 20px;
}

.margin-v-3x {
  margin-top: 30px;
  margin-bottom: 30px;
}

.margin-v-4x {
  margin-top: 40px;
  margin-bottom: 40px;
}

.margin-left- {
  margin-left: 10px;
}

.margin-left-xxs {
  margin-left: 4px;
}

.margin-left-xs {
  margin-left: 6px;
}

.margin-left-sm {
  margin-left: 8px;
}

.margin-left-lg {
  margin-left: 12px;
}

.margin-left-xl {
  margin-left: 14px;
}

.margin-left-xxl {
  margin-left: 16px;
}

.margin-left-0 {
  margin-left: 0px;
}

.margin-left-1 {
  margin-left: 1px;
}

.margin-left-2 {
  margin-left: 2px;
}

.margin-left-2x {
  margin-left: 20px;
}

.margin-left-3x {
  margin-left: 30px;
}

.margin-left-4x {
  margin-left: 40px;
}

.margin-right- {
  margin-right: 10px;
}

.margin-right-xxs {
  margin-right: 4px;
}

.margin-right-xs {
  margin-right: 6px;
}

.margin-right-sm {
  margin-right: 8px;
}

.margin-right-lg {
  margin-right: 12px;
}

.margin-right-xl {
  margin-right: 14px;
}

.margin-right-xxl {
  margin-right: 16px;
}

.margin-right-0 {
  margin-right: 0px;
}

.margin-right-1 {
  margin-right: 1px;
}

.margin-right-2 {
  margin-right: 2px;
}

.margin-right-2x {
  margin-right: 20px;
}

.margin-right-3x {
  margin-right: 30px;
}

.margin-right-4x {
  margin-right: 40px;
}

.margin-top- {
  margin-top: 10px;
}

.margin-top-xxs {
  margin-top: 4px;
}

.margin-top-xs {
  margin-top: 6px;
}

.margin-top-sm {
  margin-top: 8px;
}

.margin-top-lg {
  margin-top: 12px;
}

.margin-top-xl {
  margin-top: 14px;
}

.margin-top-xxl {
  margin-top: 16px;
}

.margin-top-0 {
  margin-top: 0px;
}

.margin-top-1 {
  margin-top: 1px;
}

.margin-top-2 {
  margin-top: 2px;
}

.margin-top-2x {
  margin-top: 20px;
}

.margin-top-3x {
  margin-top: 30px;
}

.margin-top-4x {
  margin-top: 40px;
}

.margin-bottom- {
  margin-bottom: 10px;
}

.margin-bottom-xxs {
  margin-bottom: 4px;
}

.margin-bottom-xs {
  margin-bottom: 6px;
}

.margin-bottom-sm {
  margin-bottom: 8px;
}

.margin-bottom-lg {
  margin-bottom: 12px;
}

.margin-bottom-xl {
  margin-bottom: 14px;
}

.margin-bottom-xxl {
  margin-bottom: 16px;
}

.margin-bottom-0 {
  margin-bottom: 0px;
}

.margin-bottom-1 {
  margin-bottom: 1px;
}

.margin-bottom-2 {
  margin-bottom: 2px;
}

.margin-bottom-2x {
  margin-bottom: 20px;
}

.margin-bottom-3x {
  margin-bottom: 30px;
}

.margin-bottom-4x {
  margin-bottom: 40px;
}

.padding-a- {
  padding: 10px;
}

.padding-a-xxs {
  padding: 4px;
}

.padding-a-xs {
  padding: 6px;
}

.padding-a-sm {
  padding: 8px;
}

.padding-a-lg {
  padding: 12px;
}

.padding-a-xl {
  padding: 14px;
}

.padding-a-xxl {
  padding: 16px;
}

.padding-a-0 {
  padding: 0px;
}

.padding-a-1 {
  padding: 1px;
}

.padding-a-2 {
  padding: 2px;
}

.padding-a-2x {
  padding: 20px;
}

.padding-a-3x {
  padding: 30px;
}

.padding-a-4x {
  padding: 40px;
}

.padding-h- {
  padding-left: 10px;
  padding-right: 10px;
}

.padding-h-xxs {
  padding-left: 4px;
  padding-right: 4px;
}

.padding-h-xs {
  padding-left: 6px;
  padding-right: 6px;
}

.padding-h-sm {
  padding-left: 8px;
  padding-right: 8px;
}

.padding-h-lg {
  padding-left: 12px;
  padding-right: 12px;
}

.padding-h-xl {
  padding-left: 14px;
  padding-right: 14px;
}

.padding-h-xxl {
  padding-left: 16px;
  padding-right: 16px;
}

.padding-h-0 {
  padding-left: 0px;
  padding-right: 0px;
}

.padding-h-1 {
  padding-left: 1px;
  padding-right: 1px;
}

.padding-h-2 {
  padding-left: 2px;
  padding-right: 2px;
}

.padding-h-2x {
  padding-left: 20px;
  padding-right: 20px;
}

.padding-h-3x {
  padding-left: 30px;
  padding-right: 30px;
}

.padding-h-4x {
  padding-left: 40px;
  padding-right: 40px;
}

.padding-v- {
  padding-top: 10px;
  padding-bottom: 10px;
}

.padding-v-xxs {
  padding-top: 4px;
  padding-bottom: 4px;
}

.padding-v-xs {
  padding-top: 6px;
  padding-bottom: 6px;
}

.padding-v-sm {
  padding-top: 8px;
  padding-bottom: 8px;
}

.padding-v-lg {
  padding-top: 12px;
  padding-bottom: 12px;
}

.padding-v-xl {
  padding-top: 14px;
  padding-bottom: 14px;
}

.padding-v-xxl {
  padding-top: 16px;
  padding-bottom: 16px;
}

.padding-v-0 {
  padding-top: 0px;
  padding-bottom: 0px;
}

.padding-v-1 {
  padding-top: 1px;
  padding-bottom: 1px;
}

.padding-v-2 {
  padding-top: 2px;
  padding-bottom: 2px;
}

.padding-v-2x {
  padding-top: 20px;
  padding-bottom: 20px;
}

.padding-v-3x {
  padding-top: 30px;
  padding-bottom: 30px;
}

.padding-v-4x {
  padding-top: 40px;
  padding-bottom: 40px;
}

.padding-left- {
  padding-left: 10px;
}

.padding-left-xxs {
  padding-left: 4px;
}

.padding-left-xs {
  padding-left: 6px;
}

.padding-left-sm {
  padding-left: 8px;
}

.padding-left-lg {
  padding-left: 12px;
}

.padding-left-xl {
  padding-left: 14px;
}

.padding-left-xxl {
  padding-left: 16px;
}

.padding-left-0 {
  padding-left: 0px;
}

.padding-left-1 {
  padding-left: 1px;
}

.padding-left-2 {
  padding-left: 2px;
}

.padding-left-2x {
  padding-left: 20px;
}

.padding-left-3x {
  padding-left: 30px;
}

.padding-left-4x {
  padding-left: 40px;
}

.padding-right- {
  padding-right: 10px;
}

.padding-right-xxs {
  padding-right: 4px;
}

.padding-right-xs {
  padding-right: 6px;
}

.padding-right-sm {
  padding-right: 8px;
}

.padding-right-lg {
  padding-right: 12px;
}

.padding-right-xl {
  padding-right: 14px;
}

.padding-right-xxl {
  padding-right: 16px;
}

.padding-right-0 {
  padding-right: 0px;
}

.padding-right-1 {
  padding-right: 1px;
}

.padding-right-2 {
  padding-right: 2px;
}

.padding-right-2x {
  padding-right: 20px;
}

.padding-right-3x {
  padding-right: 30px;
}

.padding-right-4x {
  padding-right: 40px;
}

.padding-top- {
  padding-top: 10px;
}

.padding-top-xxs {
  padding-top: 4px;
}

.padding-top-xs {
  padding-top: 6px;
}

.padding-top-sm {
  padding-top: 8px;
}

.padding-top-lg {
  padding-top: 12px;
}

.padding-top-xl {
  padding-top: 14px;
}

.padding-top-xxl {
  padding-top: 16px;
}

.padding-top-0 {
  padding-top: 0px;
}

.padding-top-1 {
  padding-top: 1px;
}

.padding-top-2 {
  padding-top: 2px;
}

.padding-top-2x {
  padding-top: 20px;
}

.padding-top-3x {
  padding-top: 30px;
}

.padding-top-4x {
  padding-top: 40px;
}

.padding-bottom- {
  padding-bottom: 10px;
}

.padding-bottom-xxs {
  padding-bottom: 4px;
}

.padding-bottom-xs {
  padding-bottom: 6px;
}

.padding-bottom-sm {
  padding-bottom: 8px;
}

.padding-bottom-lg {
  padding-bottom: 12px;
}

.padding-bottom-xl {
  padding-bottom: 14px;
}

.padding-bottom-xxl {
  padding-bottom: 16px;
}

.padding-bottom-0 {
  padding-bottom: 0px;
}

.padding-bottom-1 {
  padding-bottom: 1px;
}

.padding-bottom-2 {
  padding-bottom: 2px;
}

.padding-bottom-2x {
  padding-bottom: 20px;
}

.padding-bottom-3x {
  padding-bottom: 30px;
}

.padding-bottom-4x {
  padding-bottom: 40px;
}