$global-success: #17c729 !default;
$global-warning: #00baff !default;
$global-alert: #f72a27 !default;
$global-notice: #faff7e !default;
$global-primary: #435d7e !default;
$global-secondary: #fff !default;
$global-tertiary: #828282 !default;

$icon-fonts: (
  icomoon: (
    weight: normal,
    style: normal,
    src: unquote(
        'url("./fonts/icomoon.woff") format("woff"),
        url("./fonts/icomoon.ttf") format("truetype"),
        url("./fonts/icomoon.svg#svgFontName") format("svg");'
    )
  ),
);

$icons: (
  user: \e853,
  setting: \e869,
  left-nav: \e314,
  right-nav: \e315,

  func-instock: \e854,
  func-instock-lg: \e854,
  func-outstock: \e312,
  func-outstock-lg: \e312,
  func-inventory-plan: \e5ca,
  func-inventory-noplan: \e5ca,
);

@import "../bnorth/styles/index";