// Amaze UI Touch: Badge
// =============================================================================


// Mixins
// -----------------------------------------------------------------------------
@mixin badge-layout(
  $fontsize: $badge-fontsize,
  $padding: $badge-padding
) {
  font-size: $fontsize;
  padding: $padding;
}

@mixin badge-style(
  $background: $badge-background,
  $color: $badge-color,
  $radius: $badge-radius
) {
  background: $background;
  border-radius: $radius;

  @if $color == auto {
    color: islight($background);
  } @else {
    color: $color;
  }
}

@mixin badge(
  $background: $badge-background,
  $color: $badge-color,
  $radius: $badge-radius,
  $fontsize: $badge-fontsize,
  $padding: $badge-padding
) {
  line-height: 1;
  white-space: nowrap;
  display: inline-block;
  cursor: default;
  //min-width: 1.5rem;

  @include badge-layout($fontsize, $padding);
  @include badge-style($background, $color, $radius);
}


.#{$badge-prefix} {
  @include badge();
}

// modifiers: colors
// -----------------------------------------------------------------------------
@each $color-key, $color in $am-colors {
  .#{$badge-prefix}-#{$color-key} {
    @include badge-style($color, $badge-color);
  }
}

// Modifiers: sizes
// -----------------------------------------------------------------------------
@each $size-key, $size-size in $am-sizes {
  .#{$badge-prefix}-#{$size-key} {
    @include badge-layout($size-size);
  }
}

// modifiers: radius
// -----------------------------------------------------------------------------
.#{$badge-prefix}-radius {
  border-radius: $global-radius;
}

.#{$badge-prefix}-rounded {
  border-radius: $global-rounded;
}
