// BNorth UI: fab
// =============================================================================

// Output
// -----------------------------------------------------------------------------
.#{$fab-prefix} {
  position: fixed;
  top: 0;
  bottom: 0;
  width:100%;
  z-index: $z-index-overlay;
  opacity: 1;
  pointer-events: none;

  padding: $fab-padding;
  

  max-width: $base-body-max-width;
  margin-left: auto;
  margin-right: auto;

  display: flex;
}

.#{$fab-prefix}-inner {
  position: relative;
  pointer-events: all;
}

.#{$fab-prefix}-x-left {
  justify-content: flex-start;
}
.#{$fab-prefix}-x-center {
  justify-content: center;
}
.#{$fab-prefix}-x-right {
  justify-content: flex-end;
}

.#{$fab-prefix}-y-top {
  align-items: flex-start;
}
.#{$fab-prefix}-y-center {
  align-items: center;
}
.#{$fab-prefix}-y-bottom {
  align-items: flex-end;
}



// Modifiers
// -----------------------------------------------------------------------------
@each $color-key, $color in $am-colors {
  .#{$checkradio-prefix}-#{$color-key} {
    @include checkradio-style($color);
  }

  /*.#{$checkradio-prefix}-#{$color-key} .#{$checkradio-prefix}-on, .#{$checkradio-prefix}-#{$color-key} .#{$checkradio-prefix}-on .#{$checkradio-prefix}-default{
    border-color: $color;
    color: $color;
  }

  .#{$checkradio-prefix}-#{$color-key} .#{$checkradio-prefix}-off, .#{$checkradio-prefix}-#{$color-key} .#{$checkradio-prefix}-off .#{$checkradio-prefix}-default{
    border-color: $color;
  }*/
}

@each $size-key, $size-size in $am-sizes {
  .#{$checkradio-prefix}-#{$size-key} {
    font-size: $size-size;
  }
}