// BNorth UI: Panel
// =============================================================================


// Output
// -----------------------------------------------------------------------------
.#{$panel-prefix} {
  position: relative;
  display: inline-block;
  background: $panel-background;
}

.#{$panel-prefix}-custom {
  
}

.#{$panel-prefix}-line {
}

.#{$panel-prefix}-linked{
  cursor: pointer;
}

.#{$panel-prefix}-line-content {
  position: relative;
}

.#{$panel-prefix}-line-expand {
  position: relative;
  text-align: right;
}

.#{$panel-prefix}-ratio {

}

.#{$panel-prefix}-ratio-inner {
  position: relative;
}

.#{$panel-prefix}-ratio-content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}



// Mofifiers: block
// -----------------------------------------------------------------------------
.#{$panel-prefix}-block {
  display: block;
}

// Modifiers: colors
// -----------------------------------------------------------------------------
@each $color-key, $color in $am-colors {
  .#{$panel-prefix}-#{$color-key} {
    background-color: $color;
  }
}

// Modifiers: sizes
// -----------------------------------------------------------------------------
@each $size-key, $size-size in $am-sizes {
  .#{$panel-prefix}-#{$size-key} {
    font-size: $size-size;
  }
}
