<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<plugin 
  xmlns="http://www.phonegap.com/ns/plugins/1.0" 
  xmlns:android="http://schemas.android.com/apk/res/android" 
  id="cps-ACPSTemplate" 
  version="0.1.0">
  <name>ACPSTemplate</name>
  <description>
    ACPSTemplate
  </description>
  <license>MIT</license>
  <js-module src="www/main.js" name="ACPSTemplate">
    <clobbers target="ACPSTemplate"/>
  </js-module>
  <engines>
    <engine name="cordova" version=">=6.4.0"/>
    <engine name="cordova-android" version=">=5.1.1"/>
    <engine name="cordova-ios" version=">=4.1.1"/>
  </engines>
  
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="ACPSTemplate">
        <param name="android-package" value="com.able99.cps.ACPSTemplate"/>
      </feature>
    </config-file>

    <source-file src="src/android/com/able99/cps/ACPSTemplate.java" target-dir="src/com/able99/cps/"/>
  </platform>
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="ACPSTemplate">
        <param name="ios-package" value="ACPSTemplate"/>
      </feature>
    </config-file>

    <source-file src="src/ios/ACPSTemplate.m"/>
    <header-file src="src/ios/ACPSTemplate.h"/>
  </platform>
</plugin>
