// =============================================================================
// Amaze UI Mobile: Variables
// =============================================================================

// -----------------------------------------------------------------------------
// Global Variables
// -----------------------------------------------------------------------------

// Set classes namespace, e.g. `am-`
$namespace: null !default;

// This sets 1rem to be 16px
$rem-base: 16px;

// The default font-size is set to 100% of the browser style sheet (usually 16px)
// for compatibility with browser-based text zoom or user-set defaults.
// Since the typical default browser font-size is 16px, that makes the calculation for grid size.
// If you want your base font-size to be different and not have it affect the grid breakpoints,
// set $rem-base to $base-font-size and make sure $base-font-size is a px value.
$base-font-size: 14px !default;

// $base-line-height is 24px while $base-font-size is 16px
$base-line-height: 1.5 !default;

//pc max width
$base-body-max-width: 640px !default;  //none !default; 

//===============================
// font 

// weight
$font-weight-light: 100 !default;
$font-weight-normal: normal !default;
$font-weight-bold: 600 !default;
$am-text-weights: (
    light:$font-weight-light,
    normal: $font-weight-normal,
    bold: $font-weight-bold,
) !default;

//style
$am-text-styles: (
  normal,
  italic,
  oblique,
  inherit
) !default; 

//decoration
$am-text-decorations: (
  none,
  underline,
  overline,
  line-through,
  blink,
  inherit
) !default; 

//===============================
// Size
$font-size-xxs: 8px !default;
$font-size-xs: 10px !default;
$font-size-sm: 12px !default;
$font-size-default: 14px !default;
$font-size-lg: 16px !default;
$font-size-xl: 18px !default;
$font-size-xxl: 24px !default;
$font-size-xxxl: 28px !default;
$font-size-xxxxl: 32px !default;
$am-sizes: (
    xxs:     $font-size-xxs,
    xs:      $font-size-xs,
    sm:      $font-size-sm,
    default: $font-size-default,
    lg:      $font-size-lg,
    xl:      $font-size-xl,
    xxl:     $font-size-xxl,
    xxxl:    $font-size-xxxl,
    xxxxl:   $font-size-xxxxl,
) !default;

//==============================
// Application Colors

// gray
$global-black:          #000    !default;
$global-gray-darkeeer:  #181818 !default; 
$global-gray-darkeer:   #282828 !default; 
$global-gray-darker:    #383838 !default; 
$global-gray-dark:      #5f5f60 !default;  
$global-gray:           #959595 !default; 
$global-gray-light:     #cbcbcb !default;
$global-gray-lighter:   #e2e2e2 !default; 
$global-gray-lighteer:  #eff0f4 !default; 
$global-gray-lighteeer: #f6f6f6 !default; 
$global-white:          #fff    !default;
$global-transparent:    transparent      !default; 
$global-translucent:    rgba(255,255,255,0.53) !default;
$global-mask:           rgba(0,0,0,0.53) !default; 
$global-overlay:        rgba(0,0,0,0.3) !default; 

// color
$global-success:   #17c729 !default;
$global-warning:   #00baff !default;
$global-alert:     #f72a27 !default;
$global-notice:    #faff7e !default;
$global-link:      #008bec !default;
$global-primary:   blue    !default;
$global-secondary: #000    !default;
$global-tertiary:  #cbcbcb !default;

// tool
$global-border:            $global-gray-lighter   !default; 
$global-bg-page:           $global-gray-lighteer  !default; 
$global-bg-navigator:      $global-gray-lighteeer !default; 
$global-bg-component:      $global-gray-lighteeer !default; 
$global-lightbg-disable:   $global-gray           !default;
$global-lightbg-highlight: $global-white          !default;
$global-lightbg-active:    $global-white          !default;
$global-lightbg-normal:    $global-gray-darker    !default;
$global-lightbg-darker:    $global-gray-darkeer   !default;
$global-lightbg-light:     $global-gray           !default;
$global-darkbg-disable:    $global-gray-lighter   !default;
$global-darkbg-highlight:  $global-white          !default;
$global-darkbg-active:     $global-white          !default;
$global-darkbg-normal:     $global-gray-lighteeer !default; 
$global-darkbg-darker:     $global-gray-lighteer  !default; 
$global-darkbg-light:      $global-white          !default;
$color-light-threshold:    60%                    !default;

// color map
$am-preset-colors: (
  // gray
  pblack:      $global-black,
  pwhite:      $global-white,
  transparent: $global-transparent,
  translucent: $global-translucent,
  mask:        $global-mask,
  overlay:        $global-overlay,

  // color
  success:   $global-success,
  warning:   $global-warning,
  alert:     $global-alert,
  notice:    $global-notice,
  link:      $global-link,
  primary:   $global-primary,
  secondary: $global-secondary,
  tertiary:  $global-tertiary,

  // tool
  normal: $global-lightbg-normal,
  light:  $global-lightbg-light,
  component: $global-bg-component,
) !default;
$am-user-colors: (
) !default;
$am-colors: map_merge($am-preset-colors, $am-user-colors) !default;

//===============================
// layout position
$layout-map-position : (
  'absolute':  absolute,
  'relative':  relative ,
  'fixed': fixed,
) !default;

//==========================================================
// layout display
$layout-map-display : (
  'inline':  inline,
  'inline-block':  inline-block ,
  'flex':  flex,
  'inline-flex':  inline-flex,
  'none':  none ,
  'block': block,
) !default;

//size 
$layout-size-max-length:  200 !default;
$layout-size-percent:  100 !default;
$layout-size-rem:  30 !default;

//flex
$layout-map-direction: (
  'h':  row,
  'v':  column ,
  'hv': row-reverse,
  'vv': column-reverse,
) !default;

$layout-map-justify: (
  null:      flex-start,
  'start':   flex-start,
  'center':  center,
  'end':     flex-end,
  'between': space-between,
  'around':  space-around,
) !default;

$layout-map-align: (
  null:       flex-start,
  'start':    flex-start,
  'center':   center,
  'end':      flex-end,
  'baseline': baseline,
  'stretch':  stretch,
) !default;

$layout-wrap: (wrap,nowrap,wrap-reverse) !default;
$layout-sub-order-length:  5 !default; 
$layout-sub-flex-length: (none, auto, 0, 1, 2, 3, 4, 5) !default;

//===============================
// dimensions
$am-dimensions: (null, h, v, top, right, bottom, left) !default;
$am-corners: (null, top, right, bottom, left, top-left, top-right, bottom-left, bottom-right) !default;

//===============================
// Statue
$am-states: (
  active: #{$namespace}active,
  disabled: #{$namespace}disabled
) !default;

//===============================
// border

// border width
$global-border-none: none !default;
$global-border-normal: 1px !default;
$global-border-1: 1px !default;
$global-border-2: 2px !default;
$global-border-3: 3px !default;
$global-border-4: 4px !default;
$global-border-5: 5px !default;
$am-border-widths: (
  default: 1px,
  1: 1px,
  2: 2px,
  3: 3px,
  4: 4px,
  5: 5px,
  8: 8px,
  10: 10px,
) !default;

//border style
$am-border-styles: (
  default: solid,
  none: none,
  dotted: dotted,
  dashed: dashed,
  solid: solid,
  inherit: inherit
) !default; 

// radius styles
$global-radius-xs: 1px !default;
$global-radius-sm: 2px !default;
$global-radius: 5px !default;
$global-radius-lg: 8px !default;
$global-radius-xl: 10px !default;
$global-rounded: 1000px !default;
$am-radius: (
  none: initial,
  xs: $global-radius-xs,
  sm: $global-radius-sm,
  default: $global-radius,
  radius: $global-radius,
  lg: $global-radius-lg,
  xl: $global-radius-xl,
  rounded: $global-rounded
) !default; 

//===============================
// spacing
$global-padding: 1rem !default;
$global-margin: 1rem !default;

$global-spacing-xxs: rem-calc(2) !default;
$global-spacing-xs: rem-calc(4) !default;
$global-spacing-sm: rem-calc(6) !default;
$global-spacing: rem-calc(8) !default;
$global-spacing-lg: rem-calc(10) !default;
$global-spacing-xl: rem-calc(15) !default;
$global-spacing-xxl: rem-calc(20) !default;
$global-spacing-xxxl: rem-calc(30) !default;
$global-spacing-xxxxl: rem-calc(40) !default;
$am-spaces: (
  0: 0,
  xxs: $global-spacing-xxs,
  xs: $global-spacing-xs,
  sm: $global-spacing-sm,
  default: $global-spacing,
  lg: $global-spacing-lg,
  xl:$global-spacing-xl,
  xxl:$global-spacing-xxl,
  xxxl:$global-spacing-xxxl,
  xxxxl:$global-spacing-xxxxl,
) !default;


// Font-families
$font-family-sans-serif: 
  /* 1 */ -apple-system, BlinkMacSystemFont,
  /* 2 */ "PingFang SC", "Hiragino Sans GB", "Segoe UI", "Microsoft YaHei", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "wenquanyi micro hei",
  /* 3 */ "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif: Georgia, "Times New Roman", Times, SimSun, serif !default; // FangSong, STFangSong
$font-family-monospace: Monaco, Menlo, Consolas, "Courier New", monospace !default;

// Z-index
$z-index-component-low: 3 !default;
$z-index-component: 5 !default;
$z-index-component-high: 7 !default;

$z-index-view-low: 53 !default;
$z-index-view: 55 !default;
$z-index-view-high: 57 !default;
$z-index-view-top: 56 !default;
$z-index-view-bottom: 54 !default;

$z-index-overlay-low: 103 !default;
$z-index-overlay: 105 !default;
$z-index-overlay-high: 107 !default;

$am-z-index: (
  none: initial,

  component-low: $z-index-component-low,
  component: $z-index-component,
  component-high: $z-index-component-high,

  view-low: $z-index-view-low,
  view: $z-index-view,
  view-high: $z-index-view-high,

  overlay-low: $z-index-overlay-low,
  overlay: $z-index-overlay,
  overlay-high: $z-index-overlay-high,
) !default;

// -----------------------------------------------------------------------------
// Components Variables
// -----------------------------------------------------------------------------

// Compatibility
// - set NavBar & Col width for browsers which don't support flex-basis
// -----------------------------------------------------------------------------
$legacy-flexbox-support: true !default;

// Base
// -----------------------------------------------------------------------------
$body-background: $global-bg-page !default;
$body-font-color: $global-lightbg-normal !default;
$body-font-family: $font-family-sans-serif;
$body-font-weight: $font-weight-normal !default;
$body-font-style: normal !default;


// Accordion Variables
// -----------------------------------------------------------------------------
$accordion-prefix: #{$namespace}accordion !default;
$accordion-background: $global-white !default;
$accordion-border: 1px solid $global-border !default;


// Badge Variables
// -----------------------------------------------------------------------------
$badge-prefix: #{$namespace}badge !default;
$badge-fontsize: .8rem !default;
$badge-padding: ($global-padding / 3) ($global-padding / 2) !default;
$badge-radius: 0 !default;
$badge-background: $global-gray-lighter !default;
$badge-color: $global-white !default;


// Button Variables
// -----------------------------------------------------------------------------
$button-prefix: #{$namespace}btn !default;
$button-group-prefix: #{$namespace}btn-group !default;
$button-padding: 0.75em 1em !default; // 10px 15px
$button-margin: 0 !default;
$button-style: solid !default;
$button-background: $global-bg-component !default;
$button-background-active: auto !default;
$button-background-hollow: $global-white !default;
$button-background-underline: $global-white !default;
$button-color: auto !default;
$button-radius: 0 !default;
$button-font-size: $font-size-default !default;
$button-opacity-disabled: 0.5 !default;
$button-tag-selector: false !default;


// Button Group Variables
// -----------------------------------------------------------------------------
$button-group-background: $global-white !default;

// Card Variables
// -----------------------------------------------------------------------------
$card-prefix: #{$namespace}card !default;
$card-margin: rem-calc(10) !default;
$card-padding: rem-calc(15) !default;
$card-background: $global-white !default;
$card-color: islight($card-background) !default;


// Container Variables
// -----------------------------------------------------------------------------
$container-prefix: #{$namespace}container !default;


// Form Variables
// -----------------------------------------------------------------------------
$form-prefix: #{$namespace}form;
$field-prefix: #{$namespace}field;

$form-fontsize: 1rem !default;
$form-padding: 0.75rem 0.5rem !default;

// Text fields
// datetime has been removed from WHATWG HTML
// @see https://github.com/whatwg/html/issues/336
$text-field-selectors: 'input[type="text"],
                        input[type="password"],
                        input[type="date"],
                        input[type="datetime"],
                        input[type="datetime-local"],
                        input[type="month"],
                        input[type="week"],
                        input[type="time"],
                        input[type="email"],
                        input[type="tel"],
                        input[type="url"],
                        input[type="number"],
                        input[type="search"],
                        input[type="color"],
                        textarea';
$text-field-color: $global-lightbg-normal !default;
$text-field-color-hover: $text-field-color !default;
$text-field-color-focus: $text-field-color !default;
$text-field-color-disable: $global-lightbg-disable !default;
$text-field-background: $global-white !default;
$text-field-background-hover: $text-field-background !default;
$text-field-background-focus: $text-field-background !default;
$text-field-background-disabled: $text-field-background !default;
$text-field-border: $global-border !default;
$text-field-border-hover: $text-field-border !default;
$text-field-border-focus: $text-field-border !default;
$text-field-border-disable: $text-field-border !default;
$text-field-cursor-disabled: not-allowed !default;

// Labels
$form-label-fontsize: 1rem !default;
$form-label-margin: 0.5rem !default;
$form-label-color: $global-lightbg-normal !default;

// Select
$select-color: $global-gray-darker !default;
$select-background: #fafafa !default;
$select-background-hover: smartscale($select-background, 4%) !default;
$select-arrow: true !default;
$select-arrow-color: $select-color !default;

// Field group
$field-group-prefix: #{$namespace}field-group;
$field-group-color: #333 !default;
$field-group-background: #eee !default;
$field-group-border: $text-field-border !default;


// Grid Variables
// -----------------------------------------------------------------------------
$grid-prefix: #{$namespace}g !default;
$col-prefix: #{$namespace}col !default;
$grid-padding: rem-calc(10) !default;
$grid-aligns: (
  left: flex-start,
  right: flex-end,
  center: center,
  between: space-between,
  around: space-around,
) !default;
$total-columns: 6 !default;


// Group Variables
// -----------------------------------------------------------------------------
$group-prefix:  #{$namespace}group !default;
$group-header-color: #6d6d72 !default;
$group-header-font-size: $font-size-sm !default;


// Icon Variables
// -----------------------------------------------------------------------------
// font list: (font-family, font-weight, font-style, src)
$icon-prefix: #{$namespace}icon !default;
$icon-color: $global-white !default;
$icon-font-path: '../bnorth/styles/fonts/' !default;
$icon-fonts: (
  Ratchicons: (
    weight: normal,
    style: normal,
    src: unquote(
        'url("#{$icon-font-path}ratchicons.woff2") format("woff2"),
        url("#{$icon-font-path}ratchicons.woff") format("woff"),
        url("#{$icon-font-path}ratchicons.ttf") format("truetype");'
    )
  ),
) !default;
$icon-font-size: inherit !default;
$icons: (
  back: \e80a,
  bars: \e80e,
  caret: \e80f,
  check: \e810,
  close: \e811,
  code: \e812,
  compose: \e813,
  download: \e815,
  edit: \e829,
  forward: \e82a,
  gear: \e821,
  home: \e82b,
  info: \e82c,
  list: \e823,
  more-vertical: \e82e,
  more: \e82f,
  pages: \e824,
  pause: \e830,
  person: \e832,
  play: \e816,
  plus: \e817,
  refresh: \e825,
  search: \e819,
  share: \e81a,
  sound: \e827,
  sound2: \e828,
  sound3: \e80b,
  sound4: \e80c,
  star-filled: \e81b,
  star: \e81c,
  stop: \e81d,
  trash: \e81e,
  up-nav: \e81f,
  up: \e80d,
  right-nav: \e818,
  right: \e826,
  down-nav: \e814,
  down: \e820,
  left-nav: \e82d,
  left: \e822,
) !default;


// List Variables
// -----------------------------------------------------------------------------
$list-prefix: #{$namespace}list !default;
$item-prefix: #{$namespace}item !default;
$list-margin: $global-spacing 0 !default;
$list-background: $global-white !default;
$list-border-color: $global-gray-lighter !default;


// Loader Variables
// -----------------------------------------------------------------------------
$loader-prefix: #{$namespace}loader !default;
$loader-width: 32px !default;
$loader-color: $global-gray-light !default;


// Modal Variables
// -----------------------------------------------------------------------------
$modal-prefix: #{$namespace}modal !default;
$modal-width: 80% !default;
$modal-background: #{$global-white} !default;
$modal-btn-color: $global-primary !default;
$modal-btn-bg: $modal-background !default;
$modal-btn-active-bg: #d4d4d4 !default;
$modal-duration: .3s !default;
$modal-border-color: $global-gray-lighter !default;

$modal-actions-btn-bg: rgba(243, 243, 243, 0.95) !default;
$modal-actions-active-btn-bg: #dcdcdc !default;

$modal-popup-prefix: #{$namespace}popup !default;
$modal-popup-body-padding: $global-spacing !default;
$modal-popup-background: $global-white !default;
$modal-popup-radius: $global-radius !default;
$modal-popup-left: 10px !default;
$modal-popup-top: 10px !default;
$modal-popup-bottom: 10px !default;
$modal-popup-right: 10px !default;
$modal-popup-width: auto !default;
$modal-popup-height: auto !default;

$modal-radius: $global-radius !default;


// Navbar Variables
// -----------------------------------------------------------------------------
$navbar-prefix: #{$namespace}navbar !default;
$navbar-class-center: #{$navbar-prefix}-center !default;
$navbar-class-left: #{$navbar-prefix}-left !default;
$navbar-class-right: #{$navbar-prefix}-right !default;
$navbar-class-title: #{$navbar-prefix}-title !default;

$navbar-height-px: 44 !default;
$navbar-height: rem-calc($navbar-height-px) !default;
$navbar-center-width: 70% !default;
$navbar-side-width: (100% - $navbar-center-width) / 2 !default;
$navbar-background: $global-bg-component !default;
$navbar-color: auto !default;
$navbar-padding: 0 !default;
$navbar-line-height: rem-calc($navbar-height-px - 1);


// Notification Variables
// -----------------------------------------------------------------------------
$notification-prefix: #{$namespace}notification !default;
$notification-padding: rem-calc(10) $global-padding !default;
$notification-background: $global-gray-darker !default;
$notification-color: $global-white!default;


// OffCanvas Variables
// -----------------------------------------------------------------------------
$offcanvas-prefix: #{$namespace}offcanvas !default;
$offcanvas-width: rem-calc(270);
$offcanvas-background: $global-white !default;
$offcanvas-duration: .4s !default;
$offcanvas-timing-function: ease-in-out !default;


// Popover Variables
// -----------------------------------------------------------------------------
$popover-prefix: #{$namespace}popover !default;
$popover-width: rem-calc(240);
$popover-background: $global-white !default;
$popover-border: #ddd !default;
$popover-color: $global-gray-dark !default;
$popover-duration: .3s !default;
$popover-angle-size: 8px !default;


// Carousel Variables
// -----------------------------------------------------------------------------
$carousel-prefix: #{$namespace}carousel !default;
$carousel-duration: .5s;
$carousel-text-shadow: 0 1px 2px rgba(0, 0, 0, .6) !default;
$carousel-indicator-active-bg: $global-white !default;
$carousel-indicator-border-color: $global-white !default;
$carousel-caption-color: $global-white !default;


// Switch Variables
// -----------------------------------------------------------------------------
$switch-prefix: #{$namespace}switch !default;
$switch-background: $global-border !default;
$switch-background-active: $global-primary !default;
$switch-inner-background: $global-white !default;
$switch-radius: $global-rounded !default;


// TabBar Variables
// -----------------------------------------------------------------------------
$tabbar-prefix: #{$namespace}tabbar !default;
$tabbar-height-px: 52 !default;
$tabbar-height: rem-calc($tabbar-height-px)  !default;
$tabbar-padding-h: 0                         !default;
$tabbar-padding-v: 2px                         !default;
$tabbar-background: $global-bg-component     !default;
$tabbar-color: auto                          !default;
$tabbar-color-select: primary                !default;


// Tabs Variables
// -----------------------------------------------------------------------------
$tabs-prefix: #{$namespace}tabs !default;
$tab-prefix: #{$namespace}tab !default;
$tabs-background: $global-white !default;

// checkradio Variables
// -----------------------------------------------------------------------------
$checkradio-prefix: #{$namespace}check-radio !default;
$checkradio-opacity-disabled: 0.5 !default;
$checkradio-color: $global-border;
$checkradio-color-inavtive: $global-border;
$checkradio-background: none;
$checkradio-input-background: none;
$checkradio-style: null;


// pager Variables
// -----------------------------------------------------------------------------
$pager-prefix: #{$namespace}pager !default;
$pager-mode-single: #{$pager-prefix}-single !default;
$pager-mode-single-new: single-new !default;

// panel Variables
// -----------------------------------------------------------------------------
$panel-prefix: #{$namespace}panel !default;
$panel-background: $global-white !default;

// fab Variables
// -----------------------------------------------------------------------------
$fab-prefix: #{$namespace}fab !default;
$fab-padding: $global-spacing !default;




// Typography
// -----------------------------------------------------------------------------

// Headers
$header-font-weight: $font-weight-bold;
$header-font-color: $global-gray-darker !default;
$header-line-height: 1.2 !default;
$header-top-margin: 1.5em !default;
$header-bottom-margin: $global-margin !default;

// We use these to control header font sizes
$h1-font-size: $font-size-xxl !default;
$h2-font-size: $font-size-xl !default;
$h3-font-size: $font-size-lg !default;
$h4-font-size: $font-size-default !default;
$h5-font-size: $font-size-sm !default;
$h6-font-size: $font-size-xs !default;

// Paragraph
// We use these to style paragraphs
$paragraph-font-size: 1rem !default;
$paragraph-line-height: 1.6 !default;

// Lists
$list-line-height: $paragraph-line-height !default;
$list-side-padding: 2em !default;
$dl-header-weight: $font-weight-bold !default;
$dl-header-margin-bottom: rem-calc(10) !default;
$dl-margin-bottom: rem-calc(12) !default;

// Blockquotes
$blockquote-font-family: $font-family-serif;
$blockquote-padding: rem-calc(10 10 10 15) !default;
$blockquote-border: 3px solid #ddd !default;
$blockquote-cite-font-size: rem-calc(13) !default;
$blockquote-cite-font-color: $global-gray !default;
$blockquote-cite-link-color: $blockquote-cite-font-color !default;

// <hr>
$hr-border-width: 1px !default;
$hr-border-style: solid !default;
$hr-border-color: #ddd !default;
$hr-margin: rem-calc(20) !default;


// View
// -----------------------------------------------------------------------------
$views-prefix: #{$namespace}views !default;
$view-prefix: #{$namespace}view !default;

$view-transition-duration: .5s;
$view-transition-timing-function: cubic-bezier(.36, .66, .04, 1) !default;
// cubic-bezier(0.03, 0.76, 0.31, 1.0);
// cubic-bezier(0.1,0.9,0.2,1);
// cubic-bezier(0.84, 0, 1, 0.32) !default;
// cubic-bezier(.36, .66, .04, 1) !default; // iOS




// Compatibility fallback
// -----------------------------------------------------------------------------

// FUCK Android UC class namespace
$android-legacy-flexbox: 'fb-legacy-flexbox';